.MainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.heading{
    font-weight: 700;
}

.text{
    color: darkgray;
}

.buttonWrapper{
    width: 200px;
    display: flex;
    justify-content: space-between;
}