a.sidebarLinks {
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 16px 4px;
    transition: 0.5s;
    text-align: center;
    text-transform: capitalize;
    background-color: #f0f4f4;
}
a.layout_sidebarLinks__6RFNc:hover {
    background: #98c94e;
}
a.layout_sidebarLinks__6RFNc:active{
    background: #98c94e;
}