a.sidebarLinks {
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 16px 4px;
    /* background: green; */
    transition: 0.5s;
}
a.layout_sidebarLinks__6RFNc:hover {
    background: #98c94e;
}
a.layout_sidebarLinks__6RFNc:active{
    background: #98c94e;
}